@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  background-color: #f4f4f4; }

header {
  background: #202020; }

h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.7em; }

h3 {
  font-size: 20px;
  line-height: 1.7em;
  font-weight: 600;
  color: #000; }

p {
  font-size: 14px; }

.row, .slider-container, .blog__wrap {
  max-width: 1170px; }

.slider-container, .blog__wrap {
  margin: 0 auto; }

.slider-container {
  padding-right: 15px;
  padding-left: 15px; }

.slider-head {
  height: 93vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  position: relative; }
  .slider-head__logo {
    display: block;
    width: 300px;
    margin: 0 auto 25px;
    height: auto; }
  .slider-head__item {
    height: 93vh;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px; }
    .slider-head__item .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .slider-head__item h1 {
      font-weight: 300;
      font-size: 54px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      width: 650px;
      margin: 25px auto; }
    .slider-head__item h2 {
      max-width: 365px;
      font-weight: 300;
      text-align: left;
      font-family: 'Open Sans';
      color: #fff;
      line-height: 60px;
      margin-bottom: 35px; }
    .slider-head__item.invideo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0; }
      .slider-head__item.invideo .video {
        background: url("../img/back-video.png") center no-repeat;
        height: 100%;
        width: 100%; }
      .slider-head__item.invideo .row-half {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
    .slider-head__item.center-content .row {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .slider-head__item.slick-current h2 {
      animation-name: slideTop;
      -webkit-animation-name: slideTop;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      visibility: visible !important; }
    .slider-head__item.slick-current p {
      animation-name: slideTop2;
      -webkit-animation-name: slideTop2;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      visibility: visible !important; }
    .slider-head__item.slick-current h1, .slider-head__item.slick-current .slider-head__logo {
      animation-name: sleft;
      -webkit-animation-name: sleft;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      visibility: visible !important; }
    .slider-head__item.slick-current a {
      animation-name: sleft;
      -webkit-animation-name: sleft;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      visibility: visible !important; }
    .slider-head__item p {
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      max-width: 365px;
      margin-bottom: 35px;
      ility: visible !important; }
    .slider-head__item a {
      color: #fff;
      font-size: 16px;
      display: inline-block;
      background: #de0a36;
      line-height: 45px;
      width: 220px;
      text-align: center;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .slider-head__item a:hover {
        background: #bc042b; }
  .slider-head .slick-next {
    top: 48%;
    right: 5px;
    z-index: 299;
    background: url("../img/arrow-header.png") center no-repeat;
    background-size: 15px 30px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .slider-head .slick-prev {
    top: 48%;
    left: 5px;
    z-index: 299;
    background: url("../img/arrow-header.png") center no-repeat;
    background-size: 15px 30px; }
  .slider-head .slick-dots {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center; }
    .slider-head .slick-dots li {
      display: inline-block;
      width: 68px;
      height: 10px;
      background-color: transparent;
      font-size: 0;
      margin: 0 15px;
      cursor: pointer;
      border-top: 2px solid #d88a92; }
      .slider-head .slick-dots li.slick-active {
        border-top: 2px solid #fff; }

@keyframes slideTop {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }

@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translateY(-200%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1; } }

@keyframes slideTop2 {
  0% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }

@-webkit-keyframes slideTop2 {
  0% {
    -webkit-transform: translateY(-300%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1; } }

@keyframes sleft {
  0% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

@-webkit-keyframes sleft {
  0% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; } }

.header .row {
  position: relative; }

.logo {
  width: 114px; }
  .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.head-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 19px; }
  .head-menu ul > li > a {
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 45px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .head-menu ul > li:hover > a {
    color: #888; }
  .head-menu ul > li:hover .head-menu__dropdown {
    display: block; }

.head-menu__dropdown {
  position: absolute;
  display: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  top: 45px;
  left: -22px;
  z-index: 399; }
  .head-menu__dropdown p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
    margin-top: 30px;
    font-weight: 600;
    color: #000; }
  .head-menu__dropdown a {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 8px;
    display: block;
    color: #000; }
    .head-menu__dropdown a:hover {
      text-decoration: underline; }
  .head-menu__dropdown.full-drop {
    width: calc(100% + 44px);
    padding: 0 37px;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .head-menu__dropdown.service {
    padding: 0 37px 66px;
    background: #fff url("../img/brand.png") center right no-repeat;
    background-size: contain; }
    .head-menu__dropdown.service .brand {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      margin-left: -40px;
      line-height: 32px;
      position: relative;
      bottom: -57px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .head-menu__dropdown.service .brand:hover {
        text-decoration: none;
        color: #e6e6e6; }
    .head-menu__dropdown.service .columns:nth-of-type(4) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .head-menu__dropdown.portfolio-dropdown {
    padding-bottom: 32px; }
  .head-menu__dropdown .our-project p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 12px; }
  .head-menu__dropdown .our-project img {
    margin-top: 3px;
    margin-bottom: 11px;
    width: 250px; }
  .head-menu__dropdown .our-project span {
    font-size: 13px;
    color: #999; }

.arrow-down > a {
  position: relative; }
  .arrow-down > a:after {
    border: 3px solid transparent;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-color: #909090 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
    border-top-width: 4px;
    border-bottom-width: 0;
    top: 45%;
    right: -10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .arrow-down > a:hover:after {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }

.search input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent url("../img/svg/ic_search_link.svg") center left 0px no-repeat;
  width: 100%;
  height: 45px;
  color: #fff; }
  .search input:focus {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .search input:hover {
    background: transparent url("../img/svg/ic_search_link-gray.svg") center left 0px no-repeat; }

.phone {
  text-align: right; }
  .phone span {
    font-size: 14px;
    color: #fff; }
    .phone span:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("../img/svg/ic_call.svg") center right no-repeat;
      background-size: contain;
      margin-right: 8px;
      vertical-align: middle; }

.white-block {
  padding: 21px 30px 10px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  overflow: hidden; }
  .white-block.large {
    min-height: 284px; }
  .white-block.medium {
    min-height: 200px; }
  .white-block.small {
    min-height: 135px;
    margin-bottom: 14px; }

#gadget1 {
  position: absolute;
  top: 218px;
  left: 123px; }

#gadget2 {
  position: absolute;
  top: 144px;
  left: 176px; }

#gadget3 {
  position: absolute;
  top: 59px;
  left: 262px; }

#gadget4 {
  position: absolute;
  top: 19px;
  left: 362px; }

.stack-line {
  position: absolute;
  top: -357px;
  right: -74px;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg); }
  .stack-line img {
    width: 156px;
    margin-left: 12px;
    position: relative; }
    .stack-line img:nth-of-type(1) {
      top: 382px; }
    .stack-line img:nth-of-type(3) {
      top: -433px; }

.service .row {
  padding-left: 8px;
  padding-right: 8px; }

.service-item {
  padding: 0 7px;
  margin-bottom: 14px; }
  .service-item a {
    color: #0070c9;
    display: block;
    font-size: 14px;
    line-height: 30px; }
    .service-item a:before {
      display: inline-block;
      content: '—';
      margin-left: 2px;
      margin-right: 10px; }
    .service-item a:hover {
      text-decoration: underline; }

.portfolio {
  height: 850px;
  background: #242627 url("../img/img-portfolio.png") center right no-repeat;
  background-size: auto 850px;
  margin-top: 19px;
  margin-bottom: 50px; }
  .portfolio h2 {
    color: #fff; }

.specoffer h2 {
  margin-bottom: 28px; }

.specoffer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 3px; }
  .specoffer-item > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .specoffer-item__text {
    padding: 28px 40px 28px 29px;
    position: relative;
    min-height: 300px; }
    .specoffer-item__text h3 {
      line-height: 1.3em;
      margin-bottom: 7px; }
    .specoffer-item__text p {
      color: #737373;
      line-height: 24px; }
  .specoffer-item__img {
    padding: 28px 35px;
    background-size: cover; }
  .specoffer-item__price {
    position: absolute;
    bottom: 23px;
    left: 29px; }
    .specoffer-item__price-actual {
      font-size: 24px;
      color: #000;
      font-weight: 600;
      vertical-align: sub; }
      .specoffer-item__price-actual span {
        font-family: 'Roboto';
        font-weight: 400; }
    .specoffer-item__price-old {
      color: #a3a3a3;
      margin-left: 15px;
      position: relative; }
      .specoffer-item__price-old:after {
        content: "";
        height: 1px;
        width: 44px;
        background-color: #a3a3a3;
        -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
        position: absolute;
        top: 10px;
        left: 22%; }
  .specoffer-item .profitable-price {
    height: 24px;
    width: 110px;
    text-align: center;
    font-size: 11px;
    line-height: 24px;
    border-radius: 12px;
    background-color: #de0a36;
    margin-left: 15px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle; }

.all-solution {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 3px;
  margin-bottom: 50px; }
  .all-solution span {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    color: #fff; }
  .all-solution p {
    font-size: 18px;
    line-height: 28px;
    color: #fff; }
  .all-solution a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 195px;
    height: 40px;
    background: #de0a36;
    line-height: 40px;
    margin-top: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .all-solution a:hover {
      background: #b6092d; }

.title {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 36px; }

.slick-arrow {
  position: absolute;
  display: block;
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.slick-prev:after {
  border: 5px solid transparent;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-right-width: 8px;
  border-left-width: 0;
  top: 50%;
  right: 22px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.slick-next:after {
  border: 5px solid transparent;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left-width: 8px;
  border-right-width: 0;
  top: 50%;
  left: 22px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.about {
  margin-top: 19px;
  background: #242527;
  padding-top: 42px;
  padding-bottom: 74px; }
  .about h2 {
    color: #fff; }
  .about .slider-nav {
    margin-bottom: 28px; }
    .about .slider-nav__item {
      height: 100px;
      margin-bottom: 28px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
      margin: 0 9px;
      background-color: #fff;
      border-radius: 3px;
      position: relative;
      z-index: 10;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .about .slider-nav .slick-current {
      opacity: 0.8;
      -webkit-filter: brightness(150%);
      filter: brightness(150%); }
  .about .slider-for {
    position: relative; }
    .about .slider-for__item {
      height: 470px;
      background-size: cover;
      background-position: center;
      padding: 65px 80px; }
    .about .slider-for p {
      color: #000;
      max-width: 500px; }
    .about .slider-for .comment {
      font-size: 18px;
      margin-bottom: 35px;
      line-height: 30px; }
    .about .slider-for .about__worker p {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px; }
    .about .slider-for .about__worker span {
      font-size: 13px;
      font-weight: 400;
      display: block;
      line-height: 22px; }
    .about .slider-for .about__worker a {
      color: #0070c9;
      font-size: 14px;
      display: block;
      margin-top: 11px; }
      .about .slider-for .about__worker a:hover {
        color: #024173; }
  .about .slick-arrow {
    top: 33%;
    background: #454547; }
  .about .slick-prev {
    left: -115px; }
    .about .slick-prev:after {
      border-color: rgba(255, 212, 52, 0) #fff rgba(255, 212, 52, 0) rgba(255, 212, 52, 0); }
    .about .slick-prev:hover {
      background: #383838; }
  .about .slick-next {
    right: -115px; }
    .about .slick-next:after {
      border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #fff; }
    .about .slick-next:hover {
      background: #383838; }

.blog {
  padding-top: 40px;
  margin-bottom: 53px; }
  .blog__wrap {
    margin-top: 19px; }
  .blog-item {
    margin-left: 15px;
    margin-right: 15px;
    background: #fff; }
    .blog-item__img {
      height: 240px;
      background-position: center;
      background-size: cover; }
    .blog-item__descr {
      padding: 20px 30px; }
      .blog-item__descr h3 {
        line-height: 1.3em;
        margin-bottom: 12px; }
      .blog-item__descr p {
        line-height: 1.75em; }
    .blog-item__category {
      font-size: 13px; }
    .blog-item__marker {
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-right: 3px; }
      .blog-item__marker.marker-yellow {
        background-color: #f4c652; }
      .blog-item__marker.marker-green {
        background-color: #f9896d; }
      .blog-item__marker.marker-blue {
        background-color: #7c9bef; }
    .blog-item__text {
      margin-bottom: 9px; }
    .blog-item__datetime {
      font-size: 13px;
      color: #b5b5b5;
      margin-left: 9px; }
  .blog .slick-arrow {
    top: 45%;
    background: #fff; }
  .blog .slick-prev {
    left: -100px; }
    .blog .slick-prev:after {
      border-color: rgba(255, 212, 52, 0) #000 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0); }
    .blog .slick-prev:hover {
      background: #ccc; }
  .blog .slick-next {
    right: -100px; }
    .blog .slick-next:hover {
      background: #ccc; }
    .blog .slick-next:after {
      border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #000; }

.consultation {
  height: 105px;
  background: #fff;
  padding: 30px 0; }
  .consultation__general img {
    width: 225px;
    display: inline-block;
    vertical-align: middle; }
  .consultation__general p {
    display: inline-block;
    border-left: 1px solid #e6e6e6;
    padding-left: 28px;
    margin-left: 30px;
    vertical-align: middle;
    width: 250px;
    font-size: 12px;
    color: #999; }
  .consultation__order a {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #000;
    line-height: 38px;
    height: 40px;
    display: block;
    width: 220px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
    background: #fff; }
    .consultation__order a:hover {
      background: #e6e6e6; }
  .consultation__contacts p {
    font-size: 12px;
    line-height: 18px; }
  .consultation__contacts span {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600; }

.footer {
  background: #fff;
  border-top: 1px solid #f4f4f4;
  padding-top: 25px;
  padding-bottom: 54px; }
  .footer h4 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 4px; }
  .footer a {
    font-size: 13px;
    display: block;
    line-height: 28px; }
    .footer a:hover {
      text-decoration: underline; }
  .footer p {
    font-size: 13px;
    color: #737373;
    line-height: 22px;
    margin-top: 6px; }
  .footer__contacts span {
    font-weight: 600;
    display: block;
    color: #010101;
    line-height: 24px;
    margin-bottom: 20px; }
  .footer .social-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    margin-top: 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer .social-link {
    width: 30px;
    height: 30px;
    background: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .footer .social-link img {
      margin: auto; }
    .footer .social-link:hover {
      background: #de0a36; }

/*# sourceMappingURL=style.css.map */
